@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    height: 98vh;
    background:  black  url('imagens/fundo-madeira.jpg') center center no-repeat;
    background-size: auto;
}

.frame{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 311px;
    height: 627px;
    transform: translate( -50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    background-image: url('imagens/frame-iphone.png');
}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 472px;
}


section#caixa{
    text-align: right;
}

  img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;  
}

 img:hover{
    transition: border 1s;
    box-shadow:0px 0px 6px 0px white;
}




