@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    position: relative;
    background-image:linear-gradient(to left,#2b5a35, #062e1e);
    
}
.image{
    position: relative;
    left: 400px;
    top: 250px;
    width: 800px;
    height: 500px;
    background-image: url(imagens/barco.jpg);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 0px black;
}

.login{
    position: absolute;
    top: 250px;
    left: 1197px;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 2px 1px 5px 0px black;
}

.dados{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    width: 300px;
    height: 300px;
    
}

.caixa{
    position: relative;
    top: 70px;
    left: 50px;
    margin-top: 35px;

    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 1px 5px 0px black;
}

.caixa:focus{
    box-shadow: 0 0 0 0 ;
    
}

.texto{
    position: relative;
    top: 100px;
    text-align: center;
}