@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: yellow;
}

main {
    height: 100vh;
    position:relative;
    background-image: url(imagens/espaco.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#astronalta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -60%, -50%);

    max-width: 400px;
    max-height: 550px;
}






 

