/* general */

html, body, ul, .container{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container{
    height: 100vh;
    position: relative;
}

/* Sidebar */

.sidebar {
    height: 100%;
    width: 410px;
    position: relative;
    display: inline-block;
}

.toolbar-container {
    height: 60px;
    background-color: #EEEEEE;
}

.toolbar-container .user-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 15px;
    background-color: #CCCCCC;
}

.auxicons-toolbar-container{
    position: relative;
    float: right;
    right: 20px;
    top: 20px;
}

.auxicons-toolbar-container i{
    font-size: 20px;
    color: #80868A;
    margin-right: 20px;
    margin-left: 10px;
}

/* notification container */

.notification-container{
    height: 90px;
    background-color: #9DE1FE;
    color: #384c56;
    position: relative;
}

.notification-container .fa-bell-slash{
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #F5FCFF;
    color: #9DE1FE;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

.receive-notification{
    margin-left: 80px;
    padding-top: 25px;
    font-size: 15px;
}

.active-notification{
   margin-left: 80px;
   margin-top: 8px;
   font-size: 14px;
}

.fa-angle-right {
    font-size: 13px;
    font-weight: bolder;
}
   
/* search container */

.search-container{
    height: 50px;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
}

#contact-search {
    position: absolute;
    font-size: 14px;
    padding-left: 25px;
    padding-top: 18px;
    color: #CCCCCC;
}

 #search {
    height: 35px;
    width: 385px;
    padding-left: 60px;
    border-radius: 50px;
    border: none;
    box-sizing: border-box;
    margin-top: 7px;
}

#search::placeholder{
    color: #BDC1C3;
}

/* Contact container */

.contacts-container {
	height: auto;
	background-color: #FFF;
}

.contact-box {
	cursor: pointer;
	height: 72px;
	background-color: #FFF;
	border-top: 1px solid #f2f2f2;
	position: relative;
	box-sizing: border-box;
}

.contact-box:last-child {
	border-bottom: 1px solid #f2f2f2;
}

.contact-box:hover {
	background-color: #f4f5f5;
}

.active-chat {
	background-color: #E9EBEB;
}

.active-chat.contact-box:hover {
	background-color: #E9EBEB;
}

.contact-box .user-photo {
	width: 50px;
}

.user-info {
	margin-left: 80px;
	padding-top: 10px;
	display: inline-block;
}

.user-info p, .message-info p {
	margin: 0;
}

.user-name {
	font-size: 16px;
	color: #000;
	margin-bottom: 12px;
}

.user-messagepreview {
	font-size: 14px;
	color: #454545;
}

.fa-check-double {
	margin-right: 5px;
	color: #4FC3F7;
}

.message-info {
	position: absolute;
	top: 12px;
	right: 20px;
	display: inline-block;
}

.message-info .message-time {
	font-size: 12px;
	margin-bottom: 5px;
	color: #CCC;
}

.message-pending {
	background-color: #09d261;
	color: #FFF;
	width: 19px;
	height: 19px;
	line-height: 19px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 50%;
	text-align: center;
	float: right;
}





